<section id="banner" class="stars_bg">

    <div id="particles-js">
    </div>
    <div class="inner">
        <h2>
            <span class="txt-rotate" data-period="1000" data-rotate='[
                         "{{ delimit .Site.Data.index.homepage_title_carousel "\", \n\"" }}"
                         ]'>
            </span>
        </h2>
        <p>{{ .Site.Data.index.homepage_tagline }}</p>
    </div>

</section>
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

{{ $particles := resources.Get "js/particles.js" | minify | fingerprint }}
<script src="{{ $particles.Permalink }}" integrity="{{ $particles.Data.Integrity }}"></script>
