<head>
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    {{ $noscript := resources.Get "sass/noscript.scss" | toCSS | minify | fingerprint }}
    {{ $ie8 := resources.Get "sass/ie8.scss" | toCSS | minify | fingerprint }}
    {{ $ie9 := resources.Get "sass/ie9.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    <noscript>&lt;link rel="stylesheet" href="{{ $noscript.Permalink }}"/&gt;</noscript>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/css/all.css"> -->
    <link rel="apple-touch-icon" href="/icons/touch-icon-iphone-60x60.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/touch-icon-iphone-retina-120x120.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/touch-icon-ipad-retina-152x152.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/touch-icon-ipad-76x76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">

    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/favicon-96x96.png">
    {{ "<!-- [if lte IE 8]>" | safeHTML }}
    <link rel="stylesheet" href="{{ $ie8.Permalink }}" />
    {{ "<![endif]-->" | safeHTML }}
    {{ "<!-- [if lte IE 9]>" | safeHTML }}
    <link rel="stylesheet" href="{{ $ie9.Permalink }}" />
    {{ "<![endif]-->" | safeHTML }}



</head>
